@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.link {
  @include link;
}

.root {
  @include page;
}

.specialistsSection {
  text-align: center;
}

.specialistsTitle,
.excursionTitle,
.galleryTitle,
.licenseTitle,
.infusionTitle {
  @include about_headline;
}

.infusionTitle {
  color: $black;
}

.specialists {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;

  @include breakpoint("large") {
    gap: 30px;
  }

  @media (width <= 620px) {
    gap: 20px;
  }
}

.excursion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.license {
  margin-bottom: 90px;
}

.licenseImages {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.gallery {
  margin-bottom: 40px;
}
