@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.tabContent {
  @include tabContent;
}

.infusion {
  border: 1px solid rgb(220, 220, 220);
  background-color: $white;
  border-radius: 10px;
  padding: 20px 25px;
  @include shadow;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.bullets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.bulletItem {
    display: flex;
    align-items: center;
    width: 100%;
}

.bulletLabel {
    font-size: 15px;
}

.bulletItem textarea {
    flex: 1;
    width: 100%;
  }