@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.bigButton, .smallButton {
  width: fit-content;
}

.bigButton {
  @include button;
  padding: 10px 25px;
  font-size: 17px;
  font-weight: 550;
}

.smallButton {
  @include button;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 550;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.title {
  color: $blue;
}

.input {
  height: 85px;
}

.description {
  margin-top: 4px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.label {
  margin-bottom: 7px;
}

.margin {
  margin: 15px;
}