@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;


.bigButton {
  @include button;
  padding: 10px 25px;
  font-size: 17px;
  font-weight: 550;

  @include breakpoint("large") {
    font-size: 16px;
  }

  @include breakpoint("medium") {
    padding: 7px 18px;
    font-size: 14px;
  }

  @media (width <= 500px) {
    font-size: 12px;
  }
}

.smallButton {
  @include button;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 550;

  @include breakpoint("large") {
    font-size: 13px;
  }

  @include breakpoint("medium") {
    padding: 6px 16px;
    font-size: 12px;
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.title {
  color: $blue;
}

.input {
  height: 85px;
}

.description {
  margin-top: 4px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.label {
  margin-bottom: 7px;
}

.margin {
  margin: 15px;
}

.light {
  background-color: $lightBlue;
  color: $blue;
  border: 1px solid $blue;
}
