@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.page {
  @include page;
  margin-top: 40px;

  @include breakpoint("large") {
    margin-top: 0px;
  }
}

.water {
  @include water;
}

.mainSlide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  @include breakpoint("medium") {
    padding-top: 110px;
    flex-direction: column;
    text-align: center;
    height: fit-content;
  }

  @media (width <= 400px) {
    padding-top: 90px;
  }
}

.subtitle {
  margin: 10px 0 35px 0;

  @include breakpoint("medium") {
    margin-bottom: 20px;
  }
}

.titleAdditional {
  font-weight:300;
  color: $blue;
  margin: 5px 0 0px 0;

  @include breakpoint("medium") {
    margin-bottom: 5px;
  }
}

.text {
  text-align: left;
  color: $black !important;

  @include breakpoint("large") {
    line-height: 22px;
  }
}

.whyInfusions {
  margin: 60px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include breakpoint("xlarge") {
    margin: 50px 0;
  }

  @include breakpoint("large") {
    margin: 40px 0;
    gap: 5px;
  }

  @include breakpoint("medium") {
    margin: 33px 0;
  }
}

.row {
  display: flex;
  align-items: stretch;
  gap: 25px;
  margin-top: 20px;

  @include breakpoint("medium") {
    margin-top: 15px;
    flex-direction: column;
    gap: 20px;
  }
}

.answer {
  @include answer;
}

.bold {
  font-weight: bold;
  color: $black;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.infusions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.infusionsDescription {
  margin: 15px 0 30px 0;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 23px;
}

.services {
  margin: 25px 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.faq {
  margin: 50px 0 10px 0;
}
