@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.tabContent {
  @include tabContent;
}

.label {
  margin-top: 20px;
}

.specialists {
  display: flex;
  flex-grow: 1;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.specialistItem {
  width: fit-content;
}

.specialist {
  display: flex;
  width: fit-content;
}

.specText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.deleteButton {
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
