@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.root {
  @include page;
  padding-top: 110px;

  @include breakpoint("xlarge") {
    padding-top: 110px;
  }

  @include breakpoint("large") {
    padding-top: 110px;
  }

  @include breakpoint("medium") {
    padding-top: 90px;
  }
}

.contacts {
  background-color: $white;
  @include shadow;
  border-radius: 15px;
  padding: 30px 45px;
  margin-bottom: 40px;

  @include breakpoint("medium") {
    padding: 20px 30px;
  }
}

.contactsInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  margin-top: 25px;
}

.feedbackForm {
  background-color: $white;
  border-radius: 15px;
  padding: 30px 45px;
  border: 1px solid $blue;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 50px;

  @include breakpoint("medium") {
    padding: 20px 30px;
    margin-bottom: 30px;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @include breakpoint("medium") {
    flex-direction: column;
    gap: 10px;
  }
}

.label {
  margin-bottom: 7px;
}

.input, .inputFeedback {
  width: 100%;
  margin-bottom: 10px;

  @include breakpoint("medium") {
    margin-bottom: 0px;
  }
}

.inputFeedback {
  @include breakpoint("medium") {
    margin-top: 10px;
  }
}

.row {
  display: flex;
  gap: 15px;
  align-items: center;

  div {
    width: fit-content;
  }
}
