@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.root {
  background-color: $normalBlue;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 40px;
  margin: 50px 0;
  border-radius: 20px;
  padding: 40px 60px;
  @include blueShadow;
}

.text {
  font-weight: 400;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
