@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
}

.infusionRoot {
  background-color: $white;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  @include shadow;
  gap: 20px;

  &:hover,
  &:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
    .about {
      opacity: 1;
    }

    .name {
      color: $blue;
    }
  }

  @include breakpoint("xlarge") {
    padding: 20px;
  }

  @include breakpoint("large") {
    padding: 30px;
    gap: 10px;
  }

  @include breakpoint("medium") {
    padding: 25px;
  }

  @media (width <= 610px) {
    padding: 15px 20px;
  }

  @media (width <= 520px) {
    padding: 30px;
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  color: $blue;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.name {
  font-weight: 550;
  color: $black;
  transition: $smoothColor;
}

.costAndButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  text-align: center;
}

.cost {
  color: $blue;
  font-weight: 600;
}



.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  align-items: stretch;
  gap: 25px;
  margin-bottom: 50px;

  @include breakpoint("xlarge") {
    gap: 20px;
  }

  @include breakpoint("large") {
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }

  @media (width <= 610px) {
    gap: 15px;
    margin-bottom: 30px;
  }

  @media (width <= 520px) {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 25px;
  }
}

.infusionEnter {
  opacity: 0;
  transform: translateY(10px);
}

.infusionEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.infusionExit {
  opacity: 1;
  transform: translateY(0);
}

.infusionExitActive {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.8s ease-in, transform 0.3s ease-in;
}

