@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.tabContent {
  @include tabContent;
}

.fullWidth {
  margin-top: 10px;
}

.text {
  margin-top: 20px;
}

.problems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.squareButton {
  margin-top: 5px;
  width: 100% !important;
}

.blockWithoutBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  border: 1px solid rgb(220, 220, 220);
  background-color: $white;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.columnWithGaps {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
