@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.tabContent {
  @include tabContent;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.card {
  @include serviceCard;
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.bulletLabel {
  font-size: 15px;
}

.bulletItem textarea {
  flex: 1;
  width: 100%;
}

.bulletItem {
  @include bulletItem;
}

.deleteButton {
  @include deleteButton;
}
