@use './_vars' as *;
@use '../../node_modules/include-media/dist/_include-media';

@mixin link($color: $blue, $hoverColor: $black) {
  color: $color;
  transition: color 200ms ease;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}
