@use 'sass:map';
@use './_vars' as *;
@use '../../node_modules/include-media/dist/_include-media';

$breakpoints: (
  'small': 450px,
  'medium': 770px,
  'large': 1024px,
  'xlarge': 1280px,
) !default;

@mixin breakpoint($size) {
  $width: map.get($breakpoints, $size);
  @if $width {
    @media (max-width: $width) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$size}' не найден!";
  }
}

.element {
  background-color: blue;

  @include breakpoint('medium') {
    background-color: red;
  }

  @include breakpoint('large') {
    background-color: green;
  }
}

@mixin link($color: $black, $hoverColor: $blue) {
  color: $color;
  transition: $smoothColor;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active {
    opacity: 0.9;
    color: $hoverColor;
  }
}

@mixin page {
  padding: 0 170px;
  background-color: $defaultBackgroundColor;

  @include breakpoint('xlarge') {
    padding: 0 90px;
  }

  @include breakpoint('large') {
    padding: 0 60px;
  }

  @media (width <= 870px) {
    padding: 0 40px;
  }

  @include breakpoint('small') {
    padding: 0 30px;
  }
}

@mixin h1 {
  font-size: 36px;
  font-weight: bold;
}

@mixin h1_main {
  @include h1;
  color: $blue;
}

@mixin h1_add {
  @include h1;
  color: $black;
}

@mixin h2($color: $black) {
  font-size: 29px;
  font-weight: bold;
  color: $color;
}

@mixin h2_main {
  @include h2;
  color: $blue;
}

@mixin h2_add {
  @include h2;
  color: $black;
}

@mixin h3 {
  font-size: 20px;
  font-weight: 550;

  @include breakpoint('large') {
    font-size: 18px;
  }

  @include breakpoint('medium') {
    font-size: 14px;
  }
}

@mixin h3_main {
  @include h3;
  color: $blue;
}

@mixin h3_add {
  @include h3;
  color: $black;
}

@mixin h3_light {
  @include h3;
  font-weight: 400;
  color: $blue;
}

@mixin h4 {
  font-size: 15px;
  font-weight: 500;

  @include breakpoint('large') {
    font-size: 14px;
  }

  @include breakpoint('medium') {
    font-size: 13px;
  }
}

@mixin h4_main {
  @include h4;
  color: $blue;
}

@mixin h4_add {
  @include h4;
  color: $black;
}

@mixin text {
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  color: $grey;
}

@mixin button {
  color: $white;
  background-color: $blue;
  letter-spacing: 0.5px;
  border-radius: 10px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition:
    background-color 0.2s ease-in-out,
    $smoothColor;

  &:hover {
    background-color: $normalBlue;
    color: $blue;
    border-color: $blue;
  }
}

@mixin answer {
  @include h3;
  font-weight: 500;
  color: $blue;
  margin: 5px 0 15px 0;

  @include breakpoint('large') {
    margin: 3px 0 15px 0;
  }
}

@mixin shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

@mixin about_headline {
  color: $blue;
  margin: 50px 0 25px 0;

  @include breakpoint('large') {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  @include breakpoint('medium') {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

@mixin backgroundImage {
  position: relative;
  @include page;
  background-repeat: no-repeat;
  background-size: cover;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
  }

  &:before {
    top: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, $defaultBackgroundColor 100%);
  }

  &:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, $defaultBackgroundColor 100%);
  }
}

@mixin water {
  @include backgroundImage;
  background-image: url('/assets/water.png');
}

@mixin tabContent {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@mixin blueShadow {
  box-shadow: 0 3px 15px #cee0ff;
}

@mixin serviceCard {
  display: flex;
  gap: 20px;
  background-color: $white;
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
  padding: 15px 22px;
}

@mixin deleteButton {
  width: fit-content !important;
  height: 32px !important;
  padding: 0 15px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 0.7px solid rgb(255, 0, 0) !important;
  border-top: none !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  margin-right: 10px !important;
}

@mixin bulletItem {
  display: flex;
  flex-direction: column;
  align-items: end;
}
