$white: #fff;
$black: #000;
$blue: #0171fc;

$defaultFontFamily: 'Helvetica Neue';
$defaultFontSize: 14px;
$defaultBackgroundColor: #fbfbfb;
$defaultTextColor: #333333;
$defaultLineHeight: 1.2;

$smoothColor: color 0.2s ease-in-out;
