@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.root {
  @include tabContent;
}

.document {
  display: flex;
  align-items: center;
  border: 1px solid rgb(220, 220, 220);
  background-color: $white;
  border-radius: 10px;
  padding: 5px 10px;
}

.squareButton {
  margin-top: 5px;
}

.text {
  border: none;
  background-color: transparent;
  color: $black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
}

.file {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fileButton {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
}
