@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.root {
  @include tabContent;
}

.document {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgb(220, 220, 220);
  background-color: $white;
  border-radius: 10px;
  padding: 5px;
}

.squareButton {
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 10px;
}

.text {
  border: none;
  background-color: transparent;
  color: $black;
}
