@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.root {
  @include page;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;
  margin-bottom: 60px;
}
