@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: $white;
  position: fixed;
  z-index: 150;
  width: 90%;
  border: 1px solid $blue;
  border-radius: 20px;
  padding: 0 20px;
  height: fit-content;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  @media (width <= 1450px) {
    gap: 10px;
  }

  @include breakpoint('xlarge') {
    width: 98%;
  }

  @include breakpoint('medium') {
    border-radius: 15px;
    padding: 0 10px;
    gap: 7px;
  }

  a {
    @include link;
  }

  @media (width <= 455px) {
    gap: 5px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;

  @include breakpoint('large') {
    gap: 10px;
  }

  @include breakpoint('medium') {
    gap: 7px;
    margin-right: 10px;
  }
}

.logo {
  width: 130px;

  @include breakpoint('medium') {
    width: 100px;
  }

  @media (width <= 455px) {
    width: 40px;
    padding: 7px 0;
  }

  @media (width <= 380px) {
    width: 30px;
    padding: 7px 0;
  }
}

.link {
  @include link;
  @include h4;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.location {
  @include link;
  @include h4;
  width: 130px;

  @include breakpoint('large') {
    display: none;
  }
}

.phone {
  @include link;
  @include h4;
  width: 130px;

  @media (width <= 700px) {
    width: fit-content;
  }

  @media (width <= 643px) {
    display: none;
  }
}

.hours {
  @include h4;
  width: 90px;

  @include breakpoint('large') {
    display: none;
  }
}

.socIcons {
  width: fit-content;

  @media (width <= 472px) {
    display: none;
  }
}

.hoverEffect {
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}
