@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.root {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
}

.name {
  font-weight: 500 !important;
}

.photo {
  width: 130px;
  border-radius: 20px;

  @include breakpoint('xlarge') {
    width: 98px;
  }

  @include breakpoint('large') {
    width: 90px;
  }

  @include breakpoint('medium') {
    width: 80px;
  }
}

.info {
  text-align: left;
}
