@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.root {
  display: flex;
  flex-direction: column;
  justify-content: center; // Центрирование содержимого
  align-items: center;
}

.patientImage {
  @include shadow;
  border-radius: 20px;

  @include breakpoint('medium') {
    display: none;
  }
}

.cleanClinic {
  color: $blue;
  margin-bottom: 8px;
}

.weWork {
  margin-bottom: 18px;
}

.text {
  color: $grey;
  font-weight: 400;

  @include breakpoint('large') {
    line-height: 25px;
  }

  @include breakpoint('medium') {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
  }
}

.aboutClinicContainer {
  display: flex;
  align-items: center;
  gap: 25px;

  @include breakpoint('large') {
    gap: 30px;
  }

  @media (width <= 800px) {
    gap: 15px;
  }

  @include breakpoint('medium') {
    flex-direction: column-reverse;
  }
}

.textAboutClinic {
  margin: 30px 0;
  display: flex;
  flex-direction: column;

  @include breakpoint('medium') {
    margin: 0;
  }
}

.additionalText {
  width: 60%;
  font-size: 20px;
  text-align: center;
  margin: 40px 0 30px 0;

  @media (width <= 1350px) {
    margin: 20px 0 30px 0;
    font-size: 18px;
  }

  @media (width <= 1200px) {
    margin: 10px 0 30px 0;
  }

  @include breakpoint('large') {
    width: 90%;
  }
}

.advantages {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include breakpoint('large') {
    gap: 20px;
  }

  @include breakpoint('medium') {
    gap: 10px;
  }

  @media (width <= 650px) {
    flex-wrap: wrap;
  }
}
