@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.option {
  border: 1px solid $blue;
  background-color: $white;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $lightBlue;
  }
}

.option, .chosenOption {
  padding: 5px 15px;
  border-radius: 10px;
  @include breakpoint("medium") {
    padding: 3px 10px;
    border-radius: 7px;
  }
}

.chosenOption {
  border: 1px solid $blue;
  background-color: $normalBlue;
  color: $white;
}

.optionText {
  color: $blue;
  font-weight: 500;
  line-height: normal;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 7px;
  width: fit-content;
  height: fit-content;
  flex-wrap: wrap;
}
