@use '../../../styles/_vars' as *;
@use '../../../styles/_mixins' as *;

.root {
  display: flex;
  gap: 20px;

  @include breakpoint("large") {
    gap: 15px;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include breakpoint("large") {
    gap: 7px;
  }
}
