@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.socialMediaIcons {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 20px;

  @include breakpoint("xlarge") {
    gap: 10px;
  }
}

.icon {
  cursor: pointer;
}
